@import '../../../style/common/index.scss';

.booking_details_container{
    @extend %sub_section_container;

    .booked_show_details{
        display: flex;
        justify-content: space-between;
        .checkout_show_details{
            display: flex;
            flex-direction: column;

            .show_title{
                font-size: 17px;
                font-weight: 700;
            }
            .show_price{
                color: #342e2e;
                font-size: 15px;

                @media screen and (max-width: 601px) {
                    font-size: 13px;
                }
            }
        }
        .qty_cta_container{
            display: flex;
            flex-direction: column;
        }
    }
}