%sub_section_container {
  border: 1px solid #b7b6b6;
  border-radius: 10px;
  margin: 20px;
  padding: 33px;

  @media screen and (max-width: 601px) {
    padding: 12px;
  }
}

%terms_of_use {
  border: 1px solid transparent;
  background-color: transparent;
  color: #0f47d2;
  font-weight: 700;
  font-size: 15px;
  padding: 0px;
  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 601px) {
    font-size: 13px;
  }
}
